@model WP.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mt-3">Create Category</h1>
<hr />


<form method="post" class="d-flex justify-content-center">
    <div class="border p-3 t-4 mt-3 w-75 justify-content-center">
        <div class="row pb-2">
            <h2 class="text-primary">Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="CategoryName"></label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3" style="width:150px">Create</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary mt-3" style="width:150px">
            Back to List
        </a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}