@model BackUp.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-action="Edit" class="mt-3">
    <input type="hidden" asp-for="CategoryId" />
    <div class="border p-3 t-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="CategoryName"></label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CreatedTime"></label>
            <input asp-for="CreatedTime" class="form-control" />
            <span asp-validation-for="CreatedTime" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}