@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<nav id="sidebar" style="height:1000px;">
    <div class="p-4 pt-5">
        <div class="container">
            <div class="row">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="img logo rounded-circle" src="~/img/admin.gif" runat="server" />
                </a>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 ml-5">
                    <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color:white;">@UserManager.GetUserName(User)</a>
                </div>
            </div>
        </div>
        <ul class="list-unstyled components mb-5 mt-5">
            <li class="active">
                <a asp-area="" asp-controller="AdminHome" asp-action="Index" aria-expanded="false">Home</a>
            </li>
            <li class="">
                <a asp-area="" asp-controller="Category" asp-action="Create" aria-expanded="false">Category</a>
            </li>
            <li>
                <a asp-area="" asp-action="Index" asp-controller="Category">Category List</a>
            </li>
            <li>
                <a asp-area="" asp-action="Create" asp-controller="Product">Product Create</a>
            </li>
            <li>
                <a asp-area="" asp-action="Index" asp-controller="Product">Product List</a>
            </li>
            <li>
                <a asp-area="" asp-action="Index" asp-controller="Home">User Home</a>
            </li>
            <li class="nav-item d-flex justify-content-center mt-5" style="margin-top:auto;">
                <div class="mt-5">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark" style="color:white !important;">
                            <i class="bi bi-box-arrow-right"></i>
                            Logout
                        </button>
                    </form>
                </div>
            </li>
            <br />
            <br />



        </ul>

    </div>
</nav>