@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-lg-3">
        <img @src="~/img/register.jpeg" @ style="width:100%" />
    </div>
    <div class="col-lg-6" style="margin-top:100px;">
        <div class="row mt-5">
            <div class="col-lg-12 mt-2" style="display:flex;justify-content:center;">
                <i class="bi bi-shop" style="font-size:42px;color:#f7d746"></i> <b class="mt-3 ml-3" style="font-size:28px;">LOGIN</b>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-1" style="display:flex;justify-content:center;">
                <span>Sign in to your account and start shopping with this app</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="display:flex;justify-content:center;">
                <span>You dont't have an account? <b style="cursor:pointer;"><a asp-page="./Register">Sign up</a></b></span>
            </div>
        </div>
        <form id="account" method="post">
            <div class="row mt-4">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <label asp-for="Input.UserName" autocomplete="username" aria-required="true" style="font-weight:bold;"></label>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8" style="display:flex;justify-content:center;">
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" style="background-color:#f2f7fa;border-radius:8px;" />
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <label asp-for="Input.Password" autocomplete="username" style="font-weight:bold;"></label>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8" style="display:flex;justify-content:center;">
                        <input asp-for="Input.Password" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" style="background-color:#f2f7fa;border-radius:8px;" />
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <button id="login-submit" type="submit" class="btn" style="background-color:#ffd732;width:100%;">Login</button>
                </div>
                <div class="col-lg-2"></div>
            </div>

        </form>
        <div class="row mt-3">
            <hr class="mt-3" />
        </div>


        <p>
            <center><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></center>
        </p>
        <p>
            <center><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></center>
        </p>


        @*<div class="row mt-2 ml-2">
                <div class="col-lg-3" style="background-color:#3565a2;display:flex;justify-content:center;">
                    <i class="bi bi-facebook" style=";border-radius:50px;color:white;font-size:36px;"></i>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3" style="background-color:#eb4335;display:flex;justify-content:center;">
                    <i class="bi bi-google" style="border-radius:50px;color:white;font-size:36px;"></i>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3" style="background-color:#262626;display:flex;justify-content:center;">
                    <i class="bi bi-github" style="border-radius:50px;color:white;font-size:36px;></i>
                </div>

            </div>*@
    </div>



    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
