
<div class="container" style="margin-top:40px;border:0.2px solid gray;border-radius:5px;margin-top:40px;width:70%;padding-bottom:80px;padding-left:20px;padding-right:20px;">
    <div class="row" style="display:flex;justify-content:center;font-size:32px;margin-top:20px;padding-top:30px;">
        All Comments
    </div>
    <div class="row mt-3" style="margin-top:60px;">
        <div class="col-5" style="display:flex;justify-content:space-between;">
            <input class="form-control" type="text" name="context"  style="border-radius: 10px; background-color: #eeeeee;height:40px;" />
        </div>
        <div class="col-7" style="display:flex;justify-content:flex-end;">
            <button class="btn"  style="background-color: #ff6000;border-radius:10px;color:white;">Add Comment</button>
            
            
        </div>
    </div>
    <div class="row" style="margin-top:40px;padding:3px;">
        <div class="col-7" style="background-color:#eeeeee;border-radius:15px;margin-left:1em;padding:15px;">
            What happened youtube.Ege fitness back in business actually always in business....
        </div>
    </div>
    <div class="row" style="margin-top:40px;padding:3px;">
        <div class="col-7" style="background-color:#eeeeee;border-radius:15px;margin-left:1em;padding:15px;">
            Eat that fucking shit !
        </div>
    </div>
    <div class="row" style="margin-top:40px;padding:3px;">
        <div class="col-7" style="background-color:#eeeeee;border-radius:15px;margin-left:1em;padding:15px;">
            What happened youtube.Ege fitness back in business actually always in business....
        </div>
    </div>
</div>